<a href="https://colab.research.google.com/github/asegura4488/MetodosComputacionales1/blob/main/Semana15/AjusteHistogramas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#%matplotlib notebook

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from google.colab import drive
import scipy.optimize as spo

drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
os.chdir("/content/drive/MyDrive/ColabNotebooks/Cursos/MetodosComputacionalesI")
!ls

Parcial2    Semana10  Semana13	Semana2  Semana5  Semana8
ProyectoML  Semana11  Semana14	Semana3  Semana6  Semana9
Semana1     Semana12  Semana15	Semana4  Semana7

In [3]:
file = '/content/drive/MyDrive/ColabNotebooks/Cursos/MetodosComputacionalesI/Semana15/Data/Gaussiano.csv'
data = pd.read_csv(file)
x = data['x']

In [4]:
x

0     0.906451
1     5.446117
2     6.840238
3     0.743644
4     7.338518
        ...
95    1.497647
96    4.236658
97    4.678540
98    6.479197
99    2.595297
Name: x, Length: 100, dtype: float64